<!-- Modal -->
<div class="modal" id="createPOI" tabindex="-1" role="dialog" aria-labelledby="createPOILabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="createPOILabel">Cadastrar um Local</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="/POIs/Add" id="createPOIForm" enctype="multipart/form-data">
					<input type="hidden" name="Latitude" />
					<input type="hidden" name="Longitude" />
					<h5>Informações</h5>
					<hr />
					<div class="row">
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Nome da empresa *</label>
								<input type="text" class="form-control" name="Name" required>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Categoria *</label>
								<select name="Category" required asp-items="@(ViewData["Categories"] as SelectList)"></select>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Ano de Fundação *</label>
								<input type="text" class="form-control year" name="FoundationYear" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="form-group secret hidden">
								<label>Segmentos *</label>
								<select id="select-segments" class="form-control" name="Segments" placeholder="Segmentos *" multiple></select>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group secret hidden">
								<label>Tecnologias *</label>
								<select id="select-tecnologies" class="form-control" name="Tecnologies" placeholder="Tecnologias *" multiple></select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-7">
							<div class="form-group">
								<label>Endereço *</label>
								<input type="text" class="form-control" name="Address" id="autocomplete" placeholder="Nome e número do logradouro, CEP, etc..." required>
							</div>
						</div>
						<div class="col-12 col-sm-5">
							<div class="form-group">
								<label>Website</label>
								<input type="text" class="form-control" name="Website">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<!-- <input type="text" class="form-control" name="Logo" placeholder="Link (URL) do seu logo"> -->
								<label>Logotipo</label>
								<input name="File" id="file" type="file" accept=".jpg, .jpeg, .png">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>CNPJ</label>
								<input type="text" class="form-control cnpj" name="CNPJ">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-12">
							<div class="form-group">
								<label>Tags sobre o local</label>
								<input type="hidden" name="Tags" />
								<select id="select-tags" placeholder="Tags" multiple></select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<textarea rows="3" class="form-control" name="Description" placeholder="Conte um pouco sobre o local *" required></textarea>
							</div>
						</div>
					</div>
					<h5>Contato</h5>
					<hr />
					<div class="row">
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Nome *</label>
								<input type="text" class="form-control" name="ContactName" required>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Email *</label>
								<input type="email" class="form-control" name="Email" required>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Telefone</label>
								<input type="text" class="form-control" name="Phone">
							</div>
						</div>
					</div>
					<div class="row justify-content-end">
						<div class="col">
							<button type="submit" class="btn btn-primary">Enviar</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>